# IDE
venv
.venv
.idea

# MODEL formats
*.h5
*.keras

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Audio files
uploads/*
!uploads/.gitkeep

# Data cache (tylko pliki cache, nie cały folder!)
data/processed/*.npz
data/genres_original/*.wav
data/genres_original/*.mp3
data/genres_original/*.au