/* ======= BASIC STYLING ======= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-main-color: #2E1E6F;
    --background-main-color: #72e3eb;
    --background-light-color: #daf4f8;
    --hover-main-color: #4f38ad;
}

body {
    background-color: var(--background-main-color);
    font-family: 'Courier New', Courier, monospace;
    color: var(--font-main-color);
    height: 100vh;
    font-size: 1.5vw;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: var(--font-main-color);
}

/* ======= HEADER AND NAVBAR ======= */
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-light-color);
    padding: 10px;
    box-shadow: 0 0 10px var(--font-main-color);
}

.header a {
    transition: all 0.2s;
}

.header a:hover {
    color: var(--hover-main-color);
}

/* ======= MAIN BODY ======= */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ======= NAME AND LOGO ======= */
.name-and-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 30vw;
}

.name-and-logo img {
    overflow: hidden;
}

/* ======= UPLOAD AUDIO FIELD ======= */
.upload-container {
    height: 25vh;
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-light-color);
    border: 0.15rem solid rgb(95, 193, 231);
    border-radius: 15px;
}

#upload-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 1em;
    gap: 1em;
}

.upload-btn {
    background: var(--font-main-color);
	color: white;
	border: none;
    border-radius: 10px;
	padding: 0.75em;
	font: inherit;
    font-size: 0.75em;
	cursor: pointer;
    transition: all 0.2s;
}

.upload-btn:hover {
    background-color: var(--hover-main-color);
    transform: scale(1.1);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(var(--font-main-color) 0 0);
  --r1: radial-gradient(farthest-side at bottom,var(--font-main-color) 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,var(--font-main-color) 93%,#0000);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
}

#result {
    height: auto;
    min-height: 80px;
    margin-top: 20px;
    padding: 1em;
    text-align: center;
}