/* ======= BASIC STYLING ======= */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: rgb(131, 236, 252);
}

body {
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 1.5em;
    font-weight: 900;
}

a {
    text-decoration: none;
}

/* ======= HEADER AND NAVBAR ======= */
.header {
    display: flex;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0 0 10px #2E1E6F;
}

.header a {
    transition: all 0.2s;
}

.header a:hover {
    color: rgba(131, 236, 252, 0.691);
}

/* ======= MAIN BODY ======= */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ======= NAME AND LOGO ======= */
.name-and-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 30vw;
}

.name-and-logo img {
    overflow: hidden;
}

/* ======= UPLOAD AUDIO FIELD ======= */
.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;

    background: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

#drop-area {
    width: 100%;
    height: 100%;
    border: 2px dashed rgb(131, 236, 252);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#drop-area i {
    margin-bottom: 25px;
}
#drop-area span {
    display: block;
    font-size: 0.75em;
    color: rgba(131, 236, 252, 0.665);
    margin-top: 25px;
}
#drop-area.dragging{
    border-color: rgba(131, 236, 252, 0.665);
    background-color: rgba(131, 236, 252, 0.288);
    transition: 0.2s;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(rgb(131, 236, 252) 0 0);
  --r1: radial-gradient(farthest-side at bottom,rgb(131, 236, 252) 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,rgb(131, 236, 252) 93%,#0000);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
}

#result {
    flex-direction: column;
    font-size: 0.75em;
    height: auto;
    min-height: 80px;
    margin-top: 20px;
    padding: 1em;
    text-align: center;
}

.details-toggle {
    padding: 10px;
    cursor: pointer;
}
.details-toggle * {
    transition: color 0.2s ease;
}
.details-toggle:hover * {
    color: rgba(131, 236, 252, 0.691);
}

.details-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.details-content.open {
    max-height: 200px;
}

/* ======= AUDIO PLAYER ======= */
#audio-player {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    padding: 8px 12px;

    background: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 12px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);

    transition: all 0.2s;
    display: none;
}

#audio-player:hover {
    background: rgba(30, 30, 30, 0.45);
    border-color: rgba(255, 255, 255, 0.4);
}